* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,700&display=swap');


body {
    background-color: #f2f2f2;

    font-family: 'Poppins', sans-serif;
}

.main-container {
    scroll-behavior: smooth;
    overflow: hidden;
}

.menu {
    background-color: transparent;
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: rgba(17, 16, 16, 0.9);
    color: #FFF;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    z-index: 2000;
    letter-spacing: 1px;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
}

.menu__logo {
    font-family: 'Indie Flower',
        cursive;
    font-size: 45px;
    color: #9e0707;

    position: relative;
    right: 50px;
}

.menu__links {
    height: 100%;
    transition: transform .5s;
    display: flex;
    /* transform: translateX(100%); */
}


.menu__item {
    list-style: none;
    position: relative;
    height: 100%;

    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link {
    color: #FFF;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 20px;
}

.menu__arrow {
    transform: var(--transform);
    transition: transform .4s;
    display: block;
    margin-left: 3px;

}

.menu__nesting {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: rgba(19, 3, 3, 0.8);
}

.menu__link:hover {
    background-color: rgba(94, 31, 31, 0.6);
}

.menu__link--inside {
    padding: 30px 96px 30px 20px;
}

.menu__link--insideIg {
    padding: 30px 121px 30px 20px;
}

.menu__link--inside:hover {
    background-color: rgba(153, 26, 26, 0.9);
}


.menu__hamburguer {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img {
    display: block;
    width: 36px;
    position: relative;
    right: 15px;
}

.logo {
    /* font-family: 'Rubik Moonrocks',
        cursive; */
    font-family: 'Kanit',
        sans-serif;
    position: absolute;
    font-size: 24.5px;
    left: 7px;
    /* color: rgb(150, 4, 4); */
    /* color: #a13838; img5*/
    /* color: #531a1a; img4*/
    color: #9e0707;
    /* color: #9e0d0d; img2 */
    font-weight: 600;
}




.hero {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 140vh;
    overflow-x: hidden;
    filter: brightness(0.8);
}

/* flecha */
.elemento {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    top: 520px;
    display: flex;
    justify-content: center;
}

.animatedColor {
    color: rgb(40, 230, 15);
}

.flecha {
    animation: arrow 1s ease-in-out infinite;
    font-size: 77px;

}

.flecha:hover {
    animation: arrow 1s ease-out infinite !important;

}

@keyframes arrow {
    0% {
        transform: translate(0px, 50px);
    }

    50% {
        transform: translate(0px, 60px);
    }

    100% {
        transform: translate(0px, 50px);
    }
}


.about-container {
    z-index: -1;
    position: relative;

    background-color: rgba(68, 66, 66, .7);
    font-size: 28px;
    font-family: 'Indie Flower',
        cursive;
    color: #FFF;
    margin: 0 auto;
    padding: 15px 25px;

}

#about-us p {
    position: relative;
    margin-top: 72px;
    margin-bottom: 72px;
}

#about-us a {
    text-decoration: none;
    color: #079e28;
    letter-spacing: 1.5px;
}

.adivinanza__container {

    position: relative;

    background-color: rgba(68, 66, 66, .7);
    font-size: 28px;
    font-family: 'Indie Flower',
        cursive;
    color: #FFF;
    margin: 0 auto;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 75px;
    height: 100%;
}

.menu__img {
    position: relative;
    left: 23px;
}

@media (max-width: 360px) {
    .menu__img {
        position: relative;
        left: 7.5px;
    }
}

.void {
    background-color: transparent;
    height: 100vh;
}

@media (max-width: 800px) {



    .menu__hamburguer {
        display: flex;
    }

    .menu__item {
        --clip: 0;
        overflow: hidden;
    }


    .menu__item--active {
        --transform: rotate(0);
        --background: rgba(94, 31, 31, 0.6);
    }

    .menu__item--show {
        background-color: var(--background);
    }

    .menu__links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        right: 0;
        bottom: 0;
        background-color: rgba(17, 16, 16, 0.9);
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show {
        transform: unset;
        width: 100%;
    }

    .menu__link {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow {
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid rgba(94, 31, 31, 0.6);
    }

}

@media (max-width: 1100px) {
    .menu__logo {
        font-size: 35px;
        margin: 0 auto;
        padding-left: 30px;
    }

    .flecha {
        font-size: 60px;
    }
}

@media (max-width: 600px) {
    .menu__logo {
        font-size: 30px;
        margin-left: 20px;
    }

    .flecha {
        font-size: 45px;
    }

}

@media (max-width: 800px) {

    .text {
        display: none;
    }

    .text p {
        display: none;
    }


    #about-us {
        font-size: 25px;

    }
}


#adivinanza {
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: row;
    z-index: -1;
    /* top: 800px; */
}



#adivinanza p {
    margin-top: 80px;
}

#adivinanza input {
    background-color: rgba(94, 31, 31, 0.9);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: .2px solid rgba(15, 10, 10, 0.9);
    border-radius: 4px;
}

#adivinanza button {
    background-color: rgba(53, 23, 23, 0.9);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: .2px solid rgba(15, 10, 10, 0.9);
    border-radius: 4px;
}

#adivinanza input,
button {
    width: 250px;
    height: 60px;
    margin: 0 auto;
}

.resultado {
    position: relative;
    margin: 0 auto;
    bottom: 360px;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 45px;
}

.incorrecto {


    color: rgb(151, 25, 25);


}


.correcto {

    color: rgb(25, 151, 25);

}


.pista-img {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 400px;
    /* height: 100%; */
}

@media (max-width: 425px) {
    #about-us {
        font-size: 25px;

    }

    .pista-img {
        width: 200px;
        height: 280px;
    }

    .option {
        font-size: 30px;
    }

    .opciones {
        font-size: 23px;
    }

    .yanose {
        font-size: 27px;
        color: #f2f2f2;
    }
}

/* text */
/* .text {
    display: flex;
    position: absolute;
    margin: 0 auto;
    top: 200px;
    justify-content: center;

    font-size: 80px;
    font-family: 'Shadows Into Light',
        cursive;
    font-weight: 900;
    letter-spacing: 2px;
    color: rgb(219, 78, 78);
} */

/* canvas {
    display: block;
    margin: auto;
    background: rgba(158, 65, 65, 0.1);

} */
.text {
    z-index: -1;
    font: 400 1.3em/1.5 "Neuton";
    background: #090d00;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 50vw;
}

.text p {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    border: 4px double rgba(255, 255, 255, .8);
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: absolute;
    top: 18%;
    left: 50%;
    width: 40em;
    margin: 0 0 0 -20em;
}

.text span {

    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);

    /* Clip Background Image */

    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

    /* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;

}


/* Animate Background Image */

@keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}



.opciones {
    color: rgba(65, 1, 1, 0.9);
    font-weight: 700;
    font-size: 35px;
}

.adivinanzaL {
    position: relative;
    bottom: 140px;
}

.instr {
    font-family: 'Kanit',
        sans-serif;
    letter-spacing: 2px;
}

#respuesta,
.btn {
    position: relative;
    bottom: 295px;
}

.h22 {
    position: relative;
    bottom: 95px;
    color: aqua;
    letter-spacing: 3px;
}

.pista-unlocked {
    position: relative;
    bottom: 180px;
    color: aqua;
    letter-spacing: 3px;
}

.pista {
    position: relative;
    bottom: 200px;
    color: rgb(44, 185, 98);
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 35px;
}

.pista-1 {
    position: relative;
    bottom: 250px;
    color: rgb(93, 190, 130);
    letter-spacing: 3px;
}

.pista-img {
    position: relative;
    bottom: 250px;
}

.option {
    color: burlywood;
}

.pista-tittle {
    color: burlywood;
    font-family: 'Kanit',
        sans-serif;
    letter-spacing: 2px;
}

.howTo {
    color: chocolate;
    font-size: 33px;
    font-weight: 900;
}

.aclaracion {
    position: relative;
    bottom: 380px;
}

.option-example {
    color: #079e28;
    font-weight: 700;
    font-size: 32px;
}

.minierror {
    font-size: 29.5px;
    color: #eb004e;
    font-style: italic;
    font: 600;
}

.p-border {
    position: relative;
    bottom: 30px;
    /* border: 1px solid rebeccapurple; */
    box-shadow: 2px 0px 21px 14px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 2px 0px 21px 14px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 2px 0px 21px 14px rgba(0, 0, 0, 0.46);
}

.tiem {
    position: relative;
    bottom: 170px;
    font-size: 45px;
    color: aqua;
}


@media (max-width: 400px) {
    .imagenes-correctas {
        display: flex;
        flex-direction: column;

    }

    .pista-img {
        margin: 9px;
        width: 80vw;
    }
}


@media (max-width: 100vw) {
    .imagenes-correctas {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .pista-img {
        margin: 15px;
        width: 340px;

    }
}

@media (max-width: 735px) {
    .imagenes-correctas {
        display: flex;
        flex-direction: column;
    }

    .pista-img {
        margin: 9px auto;
        width: 50%;
        height: 75%;
    }
}

@media (max-width:1200px) {
    .pista-img {
        margin: 9px auto;
        width: 200px;

    }
}

.pista-img:hover {
    transform: scale(1.15);
    transition: all 0.5s;
}

.pista-img {
    outline: 3px solid #6d0c0c;
}

.pista-h2 {
    position: relative;
    margin-left: 35px;
    animation: pista 3s infinite alternate;
    font-size: 37px;

}

@keyframes pista {
    0% {
        color: aqua;
    }

    100% {
        color: rgb(206, 55, 93);
        transform: scale(1.03);
    }

}

.codigo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    position: relative;
    bottom: 300px;
    margin-bottom: 250px;
}

.morePistas {
    font-size: 26px;
    position: relative;
    width: 95%;
    margin: 0 auto;
}


#susCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 420px 400px;
    gap: 22px;
    grid-template-areas: "img1 img2 img3"". img4 .";
    grid-auto-flow: row;

}

.card__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.card__flex img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(0.323);

}

.card__texts {

    position: absolute;

    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 700;
    font-family: 'Amatic SC',
        cursive;
    letter-spacing: 1.8px;
}

.card__texts .card__span-green {
    color: rgb(104, 210, 90);
    font-size: 40px;
    letter-spacing: 3.2px;

}

.card__span-red {
    color: #f70b0b;
    font-size: 40px;
    letter-spacing: 3.2px;
    font-weight: bolder;
}

.span-div {
    display: flex;
    position: relative;
    left: 25px;
}


.card__1 {
    grid-area: img1;
}

.card__2 {
    grid-area: img2;
}

.card__4 {
    grid-area: img4;
}

.card__3 {
    grid-area: img3;
}

@media (max-width: 1500px) {
    .card__flex img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(0.323);

    }

    .card__texts {

        position: absolute;

        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: 700;
        font-family: 'Amatic SC',
            cursive;
        letter-spacing: 1.5px;
    }

    .card__texts .card__span-green {
        color: rgb(104, 210, 90);
        font-size: 20px;
        letter-spacing: 3px;

    }

    .card__span-red {
        color: #f70b0b;
        font-size: 20px;
        letter-spacing: 3px;
        font-weight: bolder;
    }
}

@media (max-width:1000px) {
    #susCards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px 300px 300px;
        gap: 15px;
        grid-template-areas: "img1 img2 ""img3 img4";
        grid-auto-flow: row;
        object-fit: cover;
    }

    .card__1 {
        display: flex;
        position: relative;
        height: 340px;
        grid-area: img1;
    }

    .card__3 {
        grid-area: img3;
    }

}

@media (max-width:650px) {
    #susCards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 450px 400px 380px;
        gap: 20px;
        grid-template-areas: "img1""img2""img3""img4";
        grid-auto-flow: row;
        object-fit: cover;
    }

    .card__1 {
        margin: 0 auto;
        height: 380px;

    }

    .card__2 {
        height: 480px;
    }

    .card__3 {
        height: 480px;
    }
}

.correcto2 {
    color: #079e28;
    font-weight: bolder;
    font-size: 35px;
}

/* font-family: 'Amatic SC',
cursive;
font-family: 'Indie Flower',
cursive;
font-family: 'Kanit',
sans-serif;
font-family: 'Rubik Moonrocks',
cursive;
font-family: 'Shadows Into Light',
cursive; */